body {
background-color: #dadada; font-family: 'Didot', serif;
}
header, footer { background-color: #B82132; color: white;
text-align: center;
padding: 10px 0;
}
.card {
border-radius: 10px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar-brand { font-size: 1.5em; font-weight: bold;
}
form {
background-color: #D2665A; border: 1px solid #F6DED8; color: white;
padding: 15px; border-radius: 5px;
}
button:hover { background-color: #2400f3d0; color: white;
}
5
button {
padding: 10px 20px; cursor: pointer; border-radius: 5px;
}
input {
padding: 10px;
border: 1px solid #ccc; border-radius: 5px; width: 100%;
}
.container {
margin: auto; max-width: 800px; padding: 20px;
}
.carousel img { height: 300px; object-fit: cover;
}
